@import "../styles";

.card {
  width: 95%;
  height: 100%;
  border-radius: 12px;
  padding: 12px 8px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(80px);
  margin-bottom: 16px;
  cursor: pointer;
  &__img {
    object-fit: cover;
    border-radius: inherit;
  }
  &__footer {
    padding: 16px 8px;
    &--text {
      font-size: $heading-six;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: $color-gray-50;
    }
  }
}

@media screen and (min-width: 400px) {
  .card {
    width: calc(50% - 16px);
    &__footer {
      &--text {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        white-space: normal;
        -webkit-line-clamp: 2;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .card {
    width: calc(33% - 16px);
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: calc(24% - 16px);
  }
}

@media screen and (min-width: 1368px) {
  .card {
    width: calc(20% - 16px);
  }
}
