@import "../styles";

.tmdb {
  &__navbar {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    position: fixed;
    z-index: 100;
    height: $navbar-height;
    width: 100%;
    background: $color-gray-900-10;
    backdrop-filter: blur(40px);
  }
  &__bottom--nav {
    position: fixed;
    width: 100%;
    justify-content: center;
    padding: 16px;
    bottom: 0px;
    background: $color-black-20;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $color-gray-400;
    gap: 0 8px;
    li {
      padding: 12px 16px;
      margin-bottom: 0;
      &:hover {
        cursor: pointer;
        color: $color-primary-400;
      }
    }
  }
}

// @media screen and (min-width: 769px) {
//   .tmdb__navbar {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 16px 12vw;
//     &--menu {
//       display: flex;
//       font-size: 16px;
//       line-height: 1.5;
//       letter-spacing: 0.02em;
//       color: $color-gray-200;
//       gap: 0 16px;
//       li {
//         padding: 12px 16px;
//         margin-bottom: 0;
//         &:hover {
//           cursor: pointer;
//           color: $color-primary-400;
//         }
//       }
//     }
//   }
//   .tmdb__hamburger,
//   .menu__mobile {
//     display: none;
//   }
// }
