.font-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.font-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.font-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

// Font sizes

$heading-one: 64px;
$heading-two: 48px;
$heading-three: 32px;
$heading-four: 24px;
$heading-five: 20px;
$heading-six: 16px;
