@import "./styles";

.tmdb__main {
  position: relative;
  top: calc($navbar-height + 48px);
  margin-bottom: calc($navbar-height + $footer-height + 96px);
  padding: 0 16px;
  &--section {
    .hero-header {
      font-size: $heading-four;
      margin: 0;
      color: $color-gray-50;
    }
    p {
      font-size: $heading-six;
      color: $color-white-50;
    }
  }
  &--body {
    margin-top: 32px;
    .title {
      font-size: $heading-five;
      color: $color-gray-50;
    }
  }
}

@media screen and (min-width: 1368px) {
  .tmdb__main {
    max-width: 1368px;
    margin: 0 auto;
  }
}
