@import "./styles/styles";

body {
  background: $color-gray-900;
  background-image: url("./assets/images/background.avif");
  background-size: 100%;
  background-position: 50% -160px;
  background-repeat: repeat-y;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
